@import "reset.css";
.ptseriffont {
  font-family: 'PT Serif', serif;
}
body {
  font-family: 'Raleway', sans-serif;
  background-color: #fff9e7;
}
body .container {
  background: #fff9e7 url("img/bgimage.png") no-repeat bottom right;
}
.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  height: 48px;
}
.header_top {
  width: 100%;
  height: 48px;
  background: #ff732b;
  background: linear-gradient(#ff8030, #ff6726);
}
.inner_header {
  display: flex;
  height: 48px;
  align-items: center;
}
.inner_header .logo {
  flex-grow: 1;
  align-self: flex-end;
}
.inner_header .logo img {
  display: block;
}
.inner_header .main_navigation {
  flex-grow: 2;
}
.inner_header .header_cart {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}
.inner_header .header_cart .cart_counter {
  border-right: 2px dotted rgba(255, 255, 255, 0.3);
  padding-left: 5px;
  padding-right: 10px;
  margin-right: 5px;
}
.inner_header .header_cart i {
  color: #ffea00;
  margin-right: 5px;
}
.inner_header .header_cart a.ptseriffont {
  font-style: italic;
  color: #ffea00;
  font-size: 14px;
}
.inner_header nav {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.inner_header nav > ul {
  font-size: 0;
}
.inner_header nav > ul > li {
  display: inline-block;
  font-size: 12px;
  margin: 0 17px;
  border-top: 2px solid transparent;
  position: relative;
}
.inner_header nav > ul > li ul.sub_menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.07);
  width: 120px;
  display: none;
}
.inner_header nav > ul > li ul.sub_menu::before {
  content: "";
  display: block
                    width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 4.5px 5px 4.5px;
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
  top: -5px;
  left: 34px;
}
.inner_header nav > ul > li ul.sub_menu li {
  margin: 0 25px;
}
.inner_header nav > ul > li ul.sub_menu li:hover {
  border-top: 20px transparent!important;
}
.inner_header nav > ul > li ul.sub_menu li:hover a {
  color: #ff732b;
}
.inner_header nav > ul > li ul.sub_menu a {
  color: #7b7a79;
}
.inner_header nav > ul > li:hover {
  border-top: 2px solid #ffea00;
}
.inner_header nav > ul > li:hover ul.sub_menu {
  display: block;
}
.inner_header nav > ul > li:hover a {
  color: #ffea00;
}
.inner_header nav > ul > li a {
  color: #ffffff;
  text-decoration: none;
  line-height: 46px;
  display: block;
}
