@import "reset.css";
.ptseriffont {
  font-family: 'PT Serif', serif;
}
body {
  font-family: 'Raleway', sans-serif;
  background-color: #fff9e7;
}
body .container {
  background: #fff9e7 url("img/bgimage.png") no-repeat bottom right;
}
.header_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: linear-gradient(#ff8030, #ff6726);
}
.header_line_div {
  max-width: 960px;
  min-height: 48px;
  margin: 0px auto;
  display: flex;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
}
.header_line_div .logo_a {
  flex-grow: 1;
}
.header_line_div .header_menu_div {
  flex-grow: 1;
}
.menulink_sub_li-ul {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  background-color: white;
  padding: 15px;
  min-width: 200px;
}
.menulink_sub_li-ul .menulink_sub_li-a {
  color: #000000;
}
.menulink_sub_li-ul li {
  margin: 0px 0px 30px 0px;
}
.menulink_sub_li-ul li:last-child {
  margin: 0;
}
a {
  text-decoration: none;
}
.ul_ul > li {
  position: relative;
  margin: 0px 0px 0px 10px;
}
.ul_ul .menulink_li-a {
  color: #fff;
}
.ul_ul a {
  font-size: 18px;
}
.ul_ul a:hover {
  text-decoration: underline;
}
.submenu_arrow_span {
  display: none;
}
body._pc_added .ul_ul > li:hover .menulink_sub_li-ul {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}
body._mobile_added .ul_ul > li {
  display: flex;
  align-items: center;
}
body._mobile_added .ul_ul {
  flex: 1 1 auto;
}
body._mobile_added .submenu_arrow_span {
  display: block;
  width: 0;
  height: 0;
  margin: 0px 0px 0px 40px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
  transition: transform 0.3s ease 0s;
}
body._mobile_added .ul_ul > li._active .menulink_sub_li-ul {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}
body._mobile_added .ul_ul > li._active .submenu_arrow_span {
  transform: rotate(-180deg);
}
.nav_menu_nav {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.nav_menu_nav .ul_ul ul.menulink_sub_li-ul {
  z-index: 14;
}
.nav_menu_nav .ul_ul ul.menulink_sub_li-ul::before {
  content: "";
  display: block
            width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 4.5px 5px 4.5px;
  border-color: transparent transparent #fff38b transparent;
  position: absolute;
  top: -5px;
  left: 34px;
}
.nav_menu_nav .ul_ul > ul {
  font-size: 0;
}
.nav_menu_nav .ul_ul > ul > li {
  display: inline-block;
  font-size: 12px;
  margin: 0 17px;
  border-top: 2px solid transparent;
  position: relative;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.07);
  width: 120px;
  display: none;
}
.nav_menu_nav .ul_ul > ul > li li {
  margin: 0 25px;
}
.nav_menu_nav .ul_ul > ul > li li:hover {
  border-top: 20px transparent!important;
}
.nav_menu_nav .ul_ul > ul > li li:hover a {
  color: #ff732b;
}
.nav_menu_nav .ul_ul > ul > li a {
  color: #7b7a79;
}
.nav_menu_nav .ul_ul > ul:hover {
  border-top: 2px solid #ffea00;
}
.nav_menu_nav .ul_ul > ul:hover ul.menulink_sub_li-ul {
  display: block;
}
.nav_menu_nav .ul_ul > ul:hover a {
  color: #ffea00;
}
.nav_menu_nav .ul_ul > ul a {
  color: #ffffff;
  text-decoration: none;
  line-height: 46px;
  display: block;
}
@media only screen and (min-width: 430px) {
  .nav_menu_nav .ul_ul ul.menulink_sub_li-ul {
    z-index: 14;
  }
  .nav_menu_nav .ul_ul ul.menulink_sub_li-ul::before {
    content: "";
    display: block
                width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 4.5px 5px 4.5px;
    border-color: transparent transparent white transparent;
    position: absolute;
    top: -5px;
    left: 34px;
  }
  .nav_menu_nav .ul_ul {
    display: flex;
    align-items: center;
  }
  .nav_menu_nav .flexdiv_div {
    display: flex;
    height: 48px;
    align-items: center;
  }
  .nav_menu_nav .ul_ul > li {
    padding: 20px 5px;
  }
  .nav_menu_nav .menulink_sub_li-ul {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease 0s;
  }
}
body._lock {
  overflow: hidden;
}
.header_cart {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}
.header_cart .cart_counter {
  border-right: 2px dotted rgba(255, 255, 255, 0.3);
  padding-left: 5px;
  padding-right: 10px;
  margin-right: 5px;
}
.header_cart i {
  color: #ffea00;
  margin-right: 5px;
}
.header_cart a.ptseriffont {
  font-style: italic;
  color: #ffea00;
  font-size: 14px;
}
@media only screen and (max-width: 430px) {
  .header_line_div .header_menu_div {
    flex-grow: 0;
  }
  .header_cart {
    display: none;
  }
  .home_slider {
    padding: 40px 0px;
  }
  .header_cart {
    z-index: 11;
  }
  .logo_a {
    z-index: 11;
  }
  .menu_icon_div {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu_icon_div span,
  .menu_icon_div::before,
  .menu_icon_div::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: white;
  }
  .menu_icon_div::before,
  .menu_icon_div::after {
    content: "";
  }
  .menu_icon_div::before {
    top: 0;
  }
  .menu_icon_div::after {
    bottom: 0;
  }
  .menu_icon_div span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .nav_menu_nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(127, 117, 34, 0.94);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: scroll;
    left: -120%;
  }
  .nav_menu_nav._active {
    left: 0;
  }
  .ul_ul > li {
    margin: 0px 0px 30px 0px;
    flex-wrap: wrap;
  }
  .ul_ul > li:last-child {
    margin-bottom: 0;
  }
  .ul_ul .menulink_li-a {
    font-size: 24px;
  }
  .menulink_sub_li-ul {
    background-color: rgba(255, 243, 139, 0.94);
    position: relative;
    flex: 1 1 100%;
    margin: 20px 0px 0px 0px;
    display: none;
  }
  .ul_ul .menulink_sub_li-a {
    font-size: 24px;
    color: #ff5400;
  }
  .ul_ul > li._active .menulink_sub_li-ul {
    display: block;
  }
  .nav_menu_nav::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 48px;
    background: linear-gradient(#fa5a29, #ff742b);
    z-index: 2;
  }
  .menu_icon_div._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu_icon_div._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu_icon_div._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
}
.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
.home_slider {
  position: relative;
}
.home_slider ul.slick-dots {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -40px;
  margin-left: 40px;
}
.home_slider ul.slick-dots button {
  background: none;
  border: none;
  width: 10px;
  height: 10px;
  display: block;
  font-size: 0;
  background: rgba(0, 0, 0, 0.1);
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  border-radius: 100%;
}
.home_slider ul.slick-dots li.slick-active button {
  background: rgba(0, 0, 0, 0.4);
}
.home_slider .slide {
  padding-top: 100px;
  background-position: center;
  background-size: cover;
  min-height: 674px;
}
.home_slider .slide .slide_title {
  font-family: 'Fredoka One', cursive;
  font-size: 68px;
  color: #fff;
  text-align: center;
  text-shadow: 12px 12px 0 rgba(0, 0, 0, 0.1);
  line-height: 82px;
}
.home_slider .slide .slide_data {
  display: flex;
  align-items: center;
  padding-bottom: 35px;
  min-height: 410px;
}
.home_slider .slide .slide_description {
  width: 34%;
  z-index: 2;
  padding-left: 10px;
  box-sizing: border-box;
}
.home_slider .slide .slide_description .data_type {
  font-family: 'Fredoka One', cursive;
  color: #ffea00;
  font-size: 24px;
  margin-bottom: 25px;
  line-height: 24px;
  display: inline-block;
}
.home_slider .slide .slide_description p.data_description {
  color: #fff;
  font-size: 12px;
  line-height: 24px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  margin-bottom: 25px;
}
.home_slider .slide .slide_description .data_cite {
  font-size: 23px;
  color: #fff;
  font-family: 'PT Serif', serif;
  font-style: italic;
}
.home_slider .slide .image_prace {
  width: 50%;
  margin-left: -45px;
  z-index: 1;
  position: relative;
}
.home_slider .slide .image_prace .slide_price {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -50px;
  width: 143px;
  height: 143px;
  background-color: #4ba321;
  color: #ffea00;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home_slider .slide .image_prace .slide_price span {
  font-size: 54px;
  font-family: 'Fredoka One', cursive;
  text-shadow: 7px 7px 0 rgba(0, 0, 0, 0.1);
}
section.about_us {
  padding: 30px 0 50px 0;
  box-sizing: border-box;
  text-align: center;
}
section.about_us h1.title {
  color: #a07258;
  font-size: 54px;
  font-family: 'Fredoka One', cursive;
  display: inline-block;
  border-bottom: 1px solid rgba(160, 114, 88, 0.3);
  margin-bottom: 25px;
  line-height: 90px;
}
section.about_us span.subtitle {
  display: block;
  color: #a07258;
  font-size: 25px;
  font-family: 'PT Serif', serif;
  padding: 0 5%;
  line-height: 1.4;
  margin-bottom: 40px;
}
section.about_us p.description {
  font-size: 12px;
  color: #a07258;
  padding: 0 12%;
  line-height: 18px;
}
div.search_box {
  margin-bottom: 60px;
}
div.search_box form.search {
  display: flex;
}
div.search_box form.search input[type="text"] {
  padding: 0;
  margin: 0;
  border: 0;
  width: calc(100% - 181px);
  height: 72px;
  border-top: 3px solid #ffeb90;
  border-left: 3px solid #ffeb90;
  border-bottom: 3px solid #ffeb90;
  font-size: 22px;
  color: #a07258;
  font-family: 'PT Serif', serif;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
}
div.search_box form.search input[type="text"]::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(160, 114, 88, 0.3);
}
div.search_box form.search input[type="text"]::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(160, 114, 88, 0.3);
}
div.search_box form.search input[type="text"]:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(160, 114, 88, 0.3);
}
div.search_box form.search input[type="text"]:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(160, 114, 88, 0.3);
}
div.search_box form.search button[type="submit"] {
  color: #fff;
  font-size: 22px;
  font-family: 'Fredoka One', cursive;
  height: 72px;
  width: 181px;
  border: 0;
  margin: 0;
  padding: 0;
  border-bottom: 3px solid #e94415;
  background: linear-gradient(#ff6c22, #ff4716);
}
div.search_box form.search button[type="submit"] i {
  margin-left: 5px;
  color: #ffeb90;
}
div.search_box form.search button[type="submit"]:hover {
  cursor: pointer;
  background: linear-gradient(#ff4716, #ff6c22);
  border-bottom: 3px solid #ee5124;
}
.info_box .info_align {
  display: flex;
  align-items: stretch;
}
.info_box .video_box {
  width: 50%;
  background: black;
  color: white;
  padding: 41px 0;
}
.info_box .video_box img {
  max-width: 100%;
  height: auto;
  opacity: 0.5;
}
.info_box .video_box figure {
  position: relative;
}
.info_box .video_box figure figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info_box .video_box figure figcaption a {
  color: inherit;
  margin-right: 20px;
  text-decoration: none;
}
.info_box .video_box figure figcaption a:hover {
  color: #ffea00;
}
.info_box .video_box figure figcaption a:hover .play_icon {
  background: rgba(0, 0, 0, 0.35);
}
.info_box .video_box figure figcaption .play_icon {
  border-radius: 100%;
  width: 90px;
  height: 90px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  line-height: 90px;
  font-size: 25px;
  display: block;
}
.info_box .video_box figure figcaption .title_data .video_title {
  font-size: 33px;
  font-family: 'Fredoka One', cursive;
  margin-bottom: 5px;
}
.info_box .video_box figure figcaption .title_data .video_subtitle {
  font-size: 12px;
}
.info_box .author_box {
  position: relative;
  width: 50%;
  background: #59ab29 url("img/man.jpg") right bottom no-repeat;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.info_box .author_box i.fa-quote-left {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 120px;
  margin-top: 120px;
  margin-left: -40px;
  color: rgba(0, 0, 0, 0.1);
}
.info_box .author_box .data_author {
  color: white;
  margin-left: 60px;
  max-width: 220px;
}
.info_box .author_box .data_author span.author_name {
  display: block;
  font-family: 'PT Serif', serif;
  font-size: 24px;
  margin-bottom: 12px;
  line-height: 24px;
  font-weight: 700;
}
.info_box .author_box .data_author span.author_prof {
  display: block;
  color: #b2e7df;
  font-size: 12px;
  margin-bottom: 16px;
}
.info_box .author_box .data_author p.author_descRiotion {
  display: block;
  font-family: 'PT Serif', serif;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
  font-style: italic;
}
.shop_slider .shop_carusel {
  background: white;
  display: flex;
}
.shop_slider .shop_carusel .item {
  box-sizing: border-box;
  width: 25%;
  border-right: 1px solid #f8f4f3;
  overflow: hidden;
  max-height: 374px;
}
.shop_slider .shop_carusel .item:hover .item_image {
  margin-top: -70px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.shop_slider .shop_carusel .item .item_image {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  max-height: 274px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop_slider .shop_carusel .item .item_image img {
  padding-top: 154px;
}
.shop_slider .shop_carusel .item h4.item_title {
  font-size: 12px;
  color: #686868;
  text-align: center;
  padding: 20px 0;
  margin-bottom: -20px;
}
.shop_slider .shop_carusel .item .item_price {
  padding: 21px 0;
  display: block;
  font-size: 26px;
  color: black;
  font-family: 'Fredoka One', cursive;
  text-align: center;
}
.shop_slider .shop_carusel .item a.item_button {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  line-height: 70px;
  border-bottom: 3px solid #e7301e;
  background: linear-gradient(#f74f31, #f33420);
  font-family: 'Fredoka One', cursive;
  font-size: 28px;
  color: white;
  text-align: center;
}
.shop_slider .shop_carusel .item a.item_button:hover {
  background: linear-gradient(#f33420, #f74f31);
}
.shop_slider .shop_carusel .item a.item_button i {
  color: #ffea00;
  font-size: 20px;
  padding-right: 10px;
}
.shop_slider .top_orangetitle_line {
  min-height: 81px;
  background: linear-gradient(#ff6821, #ff4f19);
  display: flex;
  align-items: center;
}
.shop_slider .top_orangetitle_line .shop_slider_navigation {
  display: flex;
  align-items: stretch;
}
.shop_slider .top_orangetitle_line .shop_slider_navigation .left {
  width: 55px;
  height: 81px;
  display: block;
  background: #eb4516;
  color: #ffcaae;
  font-size: 20px;
  text-align: center;
  line-height: 81px;
  border-right: 1px solid #df4115;
}
.shop_slider .top_orangetitle_line .shop_slider_navigation .right {
  width: 55px;
  height: 81px;
  display: block;
  background: #eb4516;
  color: #ffcaae;
  font-size: 20px;
  text-align: center;
  line-height: 81px;
  border-right: 1px solid #df4115;
}
.shop_slider .top_orangetitle_line .shop_slider_navigation .left,
.shop_slider .top_orangetitle_line .shop_slider_navigation .right {
  cursor: pointer;
}
.shop_slider .top_orangetitle_line .shop_slider_navigation .left:hover,
.shop_slider .top_orangetitle_line .shop_slider_navigation .right:hover {
  background: #e03e10;
  color: #fff;
}
.shop_slider .top_orangetitle_line .shop_box_title {
  flex-grow: 1;
  text-align: center;
  color: white;
  font-size: 43px;
  font-family: 'Fredoka One', cursive;
}
.shop_slider .top_orangetitle_line .shop_category {
  font-size: 14px;
  color: #ffeb90;
  font-family: 'PT Serif', serif;
  padding-right: 28px;
}
.shop_slider .top_orangetitle_line .shop_category .dropdownlist {
  cursor: pointer;
}
.shop_slider .top_orangetitle_line .shop_category span.text {
  color: white;
  font-size: 14px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px dashed white;
}
.shop_slider .top_orangetitle_line .shop_category i {
  font-size: 8px;
}
.information_box .bananabox {
  width: 100%;
  min-height: 516px;
  background: url('img/banan.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.information_box .bananabox h3.title_box {
  line-height: 43px;
  font-size: 43px;
  color: white;
  font-family: 'Fredoka One', cursive;
  text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);
  letter-spacing: 0.74em;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 35px;
}
.information_box .bananabox p.description {
  font-size: 24px;
  color: white;
  text-shadow: 2px 2px 0 rgba(255, 116, 43, 0.22);
  line-height: 36px;
  padding: 0 14%;
  text-align: center;
  margin-bottom: 40px;
}
.information_box .bananabox a.info_link {
  display: flex;
  align-items: center;
  color: #ff742b;
  font-size: 10px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 2px 2px 0 rgba(255, 116, 43, 0.22);
  padding: 10px 20px;
  text-decoration: none;
  transition: 300ms ease-in-out;
}
.information_box .bananabox a.info_link i {
  font-size: 5px;
  padding-left: 5px;
}
.information_box .bananabox a.info_link:hover {
  box-shadow: 0 0 0 rgba(255, 116, 43, 0.22);
  transition: 300ms ease-in-out;
}
.blog_testimonials .blog_container {
  display: flex;
  align-items: stretch;
  background: white;
}
.blog_testimonials .blog_container .left_blog {
  width: 270px;
  border-right: 1px solid #f2f2f2;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
}
.blog_testimonials .blog_container .left_blog h3.blog_box_title {
  color: #ff732b;
  font-family: 'Fredoka One', cursive;
  font-size: 63px;
  line-height: 63px;
  margin-bottom: 30px;
}
.blog_testimonials .blog_container .left_blog form {
  margin-bottom: 37px;
}
.blog_testimonials .blog_container .left_blog form label {
  color: #ff732b;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 16px;
  display: block;
}
.blog_testimonials .blog_container .left_blog form .custom_search {
  background: linear-gradient(#f26124, #ff802f);
  height: 34px;
  width: 100%;
  border-top: 3px solid #f26124;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog_testimonials .blog_container .left_blog form .custom_search input[type="text"] {
  height: 33px;
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
  padding-left: 17px;
  padding-right: 17px;
  width: calc(100% - 35px);
  box-sizing: border-box;
  color: #ffcaae;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 3px;
}
.blog_testimonials .blog_container .left_blog form .custom_search input[type="text"]::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ffcaae;
}
.blog_testimonials .blog_container .left_blog form .custom_search input[type="text"]::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffcaae;
}
.blog_testimonials .blog_container .left_blog form .custom_search input[type="text"]:-ms-input-placeholder {
  /* IE 10+ */
  color: #ffcaae;
}
.blog_testimonials .blog_container .left_blog form .custom_search input[type="text"]:-moz-placeholder {
  /* Firefox 18- */
  color: #ffcaae;
}
.blog_testimonials .blog_container .left_blog form .custom_search button.submit {
  margin-right: 10px;
  color: #fff;
  border: 0;
  background: transparent;
  width: 25px;
  font-size: 15px;
}
.blog_testimonials .blog_container .left_blog .blog_list article {
  margin-bottom: 30px;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 30px;
}
.blog_testimonials .blog_container .left_blog .blog_list article .blogpost_info {
  color: #bdbcbb;
  font-size: 10px;
  padding: 15px 0;
}
.blog_testimonials .blog_container .left_blog .blog_list article .blogpost_info i {
  margin-right: 5px;
}
.blog_testimonials .blog_container .left_blog .blog_list article .blogpost_info .post_date {
  margin-right: 7px;
}
.blog_testimonials .blog_container .left_blog .blog_list article .blogpost_info .post_comments {
  margin-left: 7px;
}
.blog_testimonials .blog_container .left_blog .blog_list article:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border: 0;
}
.blog_testimonials .blog_container .left_blog .blog_list article h4.post_title {
  color: #000;
  font-family: 'PT Serif', serif;
  font-size: 16px;
}
.blog_testimonials .blog_container .left_blog .blog_list article h4.post_title a {
  color: inherit;
  text-decoration: none;
}
.blog_testimonials .blog_container .left_blog .blog_list article h4.post_title:hover {
  text-decoration: underline;
  opacity: 0.7;
}
.blog_testimonials .blog_container .right_testimonilas {
  width: calc(100% - 270px);
}
.blog_testimonials .blog_container .right_testimonilas .testimonial_tab_container .tab-item {
  display: none;
}
.blog_testimonials .blog_container .right_testimonilas .testimonial_tab_container .tab-item .testimonial_title {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  font-family: 'PT Serif', serif;
  padding: 50px 40px 15px 40px;
}
.blog_testimonials .blog_container .right_testimonilas .testimonial_tab_container .tab-item .testimonial_address {
  font-size: 12px;
  color: #d4d3d2;
  display: block;
  padding: 0 40px 24px 40px;
}
.blog_testimonials .blog_container .right_testimonilas .testimonial_tab_container .tab-item .testimonial_address i {
  margin-right: 5px;
}
.blog_testimonials .blog_container .right_testimonilas .testimonial_tab_container .tab-item .cite {
  display: block;
  color: #7b7a79;
  font-size: 22px;
  font-style: italic;
  font-family: 'PT Serif', serif;
  line-height: 30px;
  padding: 0 40px 40px 40px;
}
.blog_testimonials .blog_container .right_testimonilas .testimonial_tab_container .tab-item .testimonial_gallery {
  display: flex;
  margin-bottom: 40px;
}
.blog_testimonials .blog_container .right_testimonilas .testimonial_tab_container .tab-item .testimonial_gallery a {
  display: block;
}
.blog_testimonials .blog_container .right_testimonilas .testimonial_tab_container .tab-item .testimonial_gallery a img {
  max-width: 100%;
  height: auto;
}
.blog_testimonials .blog_container .right_testimonilas .testimonial_tab_container .tab-item .testimonial_gallery a:focus {
  outline: none;
}
.blog_testimonials .blog_container .right_testimonilas .testimonial_tab_container .tab-item p.testimonial_description {
  padding: 0 40px 35px 40px;
  color: #7b7a79;
  font-size: 13px;
  line-height: 24px;
}
.blog_testimonials .blog_container .right_testimonilas .testimonial_tab_container .tab-0 {
  display: block;
}
.blog_testimonials .blog_container .right_testimonilas .testimonial_slider_box {
  display: flex;
  align-items: stretch;
}
.blog_testimonials .blog_container .right_testimonilas .testimonial_slider_box .left_arrow,
.blog_testimonials .blog_container .right_testimonilas .testimonial_slider_box .right_arrow {
  width: 59px;
  height: 243px;
  background: #fff3ef;
}
.blog_testimonials .blog_container .right_testimonilas .testimonial_slider_box .left_arrow .left,
.blog_testimonials .blog_container .right_testimonilas .testimonial_slider_box .right_arrow .left,
.blog_testimonials .blog_container .right_testimonilas .testimonial_slider_box .left_arrow .right,
.blog_testimonials .blog_container .right_testimonilas .testimonial_slider_box .right_arrow .right {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: #ff732b;
  font-size: 20px;
  cursor: pointer;
}
.blog_testimonials .blog_container .right_testimonilas .testimonial_slider_box .left_arrow .left .fa-solid,
.blog_testimonials .blog_container .right_testimonilas .testimonial_slider_box .right_arrow .left .fa-solid,
.blog_testimonials .blog_container .right_testimonilas .testimonial_slider_box .left_arrow .right .fa-solid,
.blog_testimonials .blog_container .right_testimonilas .testimonial_slider_box .right_arrow .right .fa-solid {
  padding-bottom: 25px;
}
.blog_testimonials .blog_container .right_testimonilas .testimonial_slider_box .left_arrow .left:hover,
.blog_testimonials .blog_container .right_testimonilas .testimonial_slider_box .right_arrow .left:hover,
.blog_testimonials .blog_container .right_testimonilas .testimonial_slider_box .left_arrow .right:hover,
.blog_testimonials .blog_container .right_testimonilas .testimonial_slider_box .right_arrow .right:hover {
  background: linear-gradient(#54ae25, #54ae25);
  color: #ffffff;
}
.blog_testimonials .blog_container .right_testimonilas .testimonial_slider_box .testimonial_carousel {
  width: calc(100% - 118px);
  margin-top: -15px;
  display: flex;
}
.blog_testimonials .blog_container .right_testimonilas .testimonial_slider_box .testimonial_carousel .slick-list {
  padding-top: 15px;
}
.blog_testimonials .blog_container .right_testimonilas .testimonial_slider_box .testimonial_carousel .slick-track {
  border-top: 4px solid #fff3ef;
}
.blog_testimonials .blog_container .right_testimonilas .testimonial_slider_box .testimonial_carousel .slick-slide {
  width: 33.33333%;
}
.blog_testimonials .blog_container .right_testimonilas .testimonial_slider_box .testimonial_carousel .slick-slide.slick-current img {
  border: 11px solid #fff3ef;
}
.blog_testimonials .blog_container .right_testimonilas .testimonial_slider_box .testimonial_carousel .slick-slide.slick-current::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 15px 15px;
  border-color: transparent transparent #fff3ef transparent;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
}
.blog_testimonials .blog_container .right_testimonilas .testimonial_slider_box .testimonial_carousel .slick-slide.slick-current::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent white transparent;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -8px;
  margin-top: -8px;
}
.blog_testimonials .blog_container .right_testimonilas .testimonial_slider_box .testimonial_carousel .person {
  min-height: 239px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  align-items: center;
}
.blog_testimonials .blog_container .right_testimonilas .testimonial_slider_box .testimonial_carousel .person img {
  border-radius: 100%;
  border: 11px solid transparent;
  margin-bottom: 15px;
  height: 105px;
  width: 105px;
  margin-top: 30px;
}
.blog_testimonials .blog_container .right_testimonilas .testimonial_slider_box .testimonial_carousel .person h6.testimonial_name {
  font-size: 16px;
  color: #000;
  font-weight: 700;
  font-family: 'PT Serif', serif;
  line-height: 16px;
  margin-bottom: 8px;
}
.blog_testimonials .blog_container .right_testimonilas .testimonial_slider_box .testimonial_carousel .person span.address {
  font-size: 11px;
  color: #b4b8a9;
  padding-bottom: 29px;
}
.container_shadow {
  margin-bottom: 40px;
  box-shadow: 0 34px 65px -35px #dbaeae;
}
.adds_box .three_boxes {
  display: flex;
  align-items: stretch;
  margin-bottom: 75px;
}
.adds_box .three_boxes .item {
  width: 33.33333%;
  min-height: 234px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 35px;
  box-sizing: border-box;
  text-transform: lowercase;
}
.adds_box .three_boxes .item .adds_title {
  color: white;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 9px;
  font-family: 'Fredoka One', cursive;
}
.adds_box .three_boxes .item a.adds_link {
  font-size: 10px;
  color: white;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  align-items: center;
  display: flex;
}
.adds_box .three_boxes .item a.adds_link i {
  font-size: 5px;
  padding-left: 5px;
}
.adds_box .three_boxes .item a.adds_link:hover {
  text-decoration: underline;
}
.adds_box .three_boxes .item.item-0 {
  background: url(img/fruits.jpg) no-repeat center;
  box-shadow: 0 40px 50px -35px #ff742b;
}
.adds_box .three_boxes .item.item-1 {
  background: url(img/vegetables.jpg) no-repeat center;
  box-shadow: 0 40px 50px -35px #4ba321;
}
.adds_box .three_boxes .item.item-2 {
  background: url(img/berries.jpg) no-repeat center;
  box-shadow: 0 40px 50px -35px #da2d50;
}
.top_footer .footer_container {
  display: flex ;
  padding-bottom: 80px;
}
.top_footer .footer_container .navigation_box,
.top_footer .footer_container .contacts_box,
.top_footer .footer_container .tweeter_box {
  width: 33.33333%;
}
.top_footer .footer_container .tweeter_box h6.widget_title {
  color: #5ad2ff;
  font-size: 19px;
  line-height: 19px;
  font-family: 'Fredoka One', cursive;
  margin-bottom: 24px;
}
.top_footer .footer_container .tweeter_box h6.widget_title i {
  font-size: 20px;
  margin-right: 6px;
}
.top_footer .footer_container .tweeter_box .tweet_slider {
  display: flex;
}
.top_footer .footer_container .tweeter_box .tweet_slider .arrows {
  width: 31px;
}
.top_footer .footer_container .tweeter_box .tweet_slider .arrows .upto {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: #c2a594;
  color: white;
  font-size: 7px;
  text-align: center;
  line-height: 15px;
  margin-bottom: 6px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.top_footer .footer_container .tweeter_box .tweet_slider .arrows .upto:hover {
  color: #4e423b;
  transition: all 300ms ease-in-out;
}
.top_footer .footer_container .tweeter_box .tweet_slider .arrows .downto {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: #c2a594;
  color: white;
  font-size: 7px;
  text-align: center;
  line-height: 15px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.top_footer .footer_container .tweeter_box .tweet_slider .arrows .downto:hover {
  color: #4e423b;
  transition: all 300ms ease-in-out;
}
.top_footer .footer_container .tweeter_box .tweet_slider .content_slider_tweeter {
  width: calc(100% - 31px);
}
.top_footer .footer_container .tweeter_box .tweet_slider .content_slider_tweeter p {
  color: #7b7a79;
  font-size: 13px;
  font-style: italic;
  font-family: 'PT Serif', serif;
  line-height: 18px;
  margin-bottom: 13px;
}
.top_footer .footer_container .tweeter_box .tweet_slider .content_slider_tweeter .author {
  color: #5ad2ff;
  font-size: 11px;
  font-weight: 700;
}
.top_footer .footer_container .tweeter_box .tweet_slider .content_slider_tweeter .author a {
  color: inherit;
}
.top_footer .footer_container .tweeter_box .tweet_slider .content_slider_tweeter .time {
  color: #d2cec8;
  font-size: 11px;
}
.top_footer .footer_container .contacts_box {
  color: #7b7a79;
}
.top_footer .footer_container .contacts_box strong {
  font-weight: 700;
}
.top_footer .footer_container .contacts_box h6.widget_title {
  color: #ff732b;
  font-size: 18px;
  font-family: 'Fredoka One', cursive;
  line-height: 18px;
  margin-bottom: 10px;
}
.top_footer .footer_container .contacts_box span {
  display: block;
}
.top_footer .footer_container .contacts_box .phone {
  font-size: 29px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 20px;
}
.top_footer .footer_container .contacts_box a {
  color: inherit;
  font-size: 12px;
  text-decoration: none;
}
.top_footer .footer_container .contacts_box a:hover {
  text-decoration: underline;
}
.top_footer .footer_container .contacts_box .adress {
  margin-top: 10px;
  font-size: 11px;
}
.top_footer .footer_container .contacts_box .adress strong {
  font-size: 15px;
}
.top_footer .footer_container .contacts_box .adress i {
  color: #c5c3c2;
  margin-right: 5px;
}
.top_footer .footer_container .navigation_box {
  display: flex;
}
.top_footer .footer_container .navigation_box h6.widget_title {
  color: #ff732b;
  font-size: 18px;
  font-family: 'Fredoka One', cursive;
  line-height: 18px;
  margin-bottom: 25px;
}
.top_footer .footer_container .navigation_box nav ul {
  font-size: 11px;
  color: #7b7a79;
  line-height: 24px;
}
.top_footer .footer_container .navigation_box nav ul a {
  text-decoration: none;
  color: inherit;
}
.top_footer .footer_container .navigation_box nav ul a:hover {
  text-decoration: underline;
}
.top_footer .footer_container .navigation_box .navigation_one,
.top_footer .footer_container .navigation_box .navigation_two {
  width: 50%;
}
footer.footer {
  background: #ff732b;
  color: white;
  min-height: 220px;
}
footer.footer::before {
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  background: linear-gradient(#fa5a29, #ff742b);
}
footer.footer .footer_navigation {
  min-height: 86px;
  border-bottom: 2px dashed rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
footer.footer .footer_navigation ul {
  font-size: 0;
}
footer.footer .footer_navigation ul li {
  display: inline-block;
  font-size: 12px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
footer.footer .footer_navigation ul li a {
  transition: all 300ms ease-in-out;
}
footer.footer .footer_navigation ul li a:hover {
  opacity: 0.7;
  transition: all 300ms ease-in-out;
}
footer.footer .footer_navigation ul li:first-child::before {
  display: none;
}
footer.footer .footer_navigation ul li::before {
  content: '*';
  margin-left: 28px;
  margin-right: 28px;
  display: inline-block;
}
footer.footer .socials_container {
  min-height: 135px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer.footer .socials_container ul {
  font-size: 0;
}
footer.footer .socials_container ul::before {
  content: '';
  margin-left: 7px;
  margin-right: 7px;
  display: inline-block;
}
footer.footer .socials_container ul li {
  display: inline-block;
  font-size: 25px;
}
footer.footer .socials_container ul li:first-child::before {
  display: none;
}
footer.footer .socials_container ul li::before {
  content: '';
  margin-left: 7px;
  margin-right: 7px;
  display: inline-block;
}
footer.footer .socials_container p {
  line-height: 20px;
  font-size: 11px;
  font-family: 'Raleway', sans-serif;
  padding-left: 35px;
}
footer.footer a {
  color: inherit;
  text-decoration: none;
}
@media only screen and (max-width: 960px) {
  .wrapper {
    width: calc(100% - 20px);
  }
}
@media only screen and (max-width: 430px) {
  .footer.footer .socials_container p {
    padding-left: 15px;
    padding-top: 10px;
  }
  .socials_container {
    flex-direction: column;
  }
  .footer_navigation ul {
    display: none;
  }
  .home_slider .slide .slide_title {
    font-size: 42px;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
    line-height: 62px;
  }
  .home_slider .slide .slide_description {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .home_slider .slide .image_prace {
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    padding-top: 20px;
  }
  .home_slider .slide .image_prace img {
    max-width: 50%;
  }
  .home_slider .slide .slide_data {
    display: block;
    min-height: 0;
  }
  .home_slider ul.slick-dots {
    margin-left: 10px;
  }
  .home_slider ul.slick-dots li.slick-active button {
    background: rgba(0, 255, 231, 0.4);
  }
  .home_slider .slide .slide_description .data_type {
    margin-bottom: 19px;
    padding-top: 37px;
  }
  .shop_slider .shop_carusel .item .item_price {
    padding: 28px;
  }
  .shop_slider .shop_carusel .item a.item_button {
    min-height: 70px;
  }
  section.about_us span.subtitle {
    font-size: 23px;
  }
  .home_slider .slide {
    min-height: 665px;
    padding-top: 0px;
  }
  .home_slider .slide .slide_title {
    padding-top: 10px;
  }
  .info_box .info_align {
    flex-direction: column;
  }
  .info_box .video_box,
  .info_box .author_box {
    width: 100%;
  }
  .info_box .author_box {
    min-height: 310px;
  }
  .info_box .author_box i.fa-quote-left {
    font-size: 108px;
    margin-top: -1px;
    margin-left: 10px;
  }
  .shop_slider .top_orangetitle_line .shop_box_title {
    font-size: 23px;
  }
  .shop_slider .top_orangetitle_line .shop_slider_navigation .left,
  .shop_slider .top_orangetitle_line .shop_slider_navigation .right {
    width: 40px;
  }
  .shop_slider .top_orangetitle_line .shop_category {
    padding-right: 10px;
  }
  .shop_slider .shop_carusel .item {
    max-height: none;
  }
  .shop_slider .shop_carusel .item:hover .item_image {
    margin: 0;
  }
  .information_box .bananabox h3.title_box {
    font-size: 49px;
    letter-spacing: 0.1em;
  }
  .information_box .bananabox p.description {
    font-size: 17px;
    line-height: 29px;
  }
  .blog_testimonials .blog_container {
    flex-direction: column;
  }
  .blog_testimonials .blog_container .left_blog,
  .blog_testimonials .blog_container .right_testimonilas {
    width: 100%;
  }
  .adds_box .three_boxes {
    flex-direction: column;
    align-items: center;
  }
  .adds_box .three_boxes .item {
    width: 100%;
    margin-bottom: 30px;
    max-width: 320px;
  }
  .top_footer .footer_container {
    flex-wrap: wrap;
  }
  .top_footer .footer_container .navigation_box {
    width: 100%;
    margin-bottom: 50px;
  }
  .top_footer .footer_container .contacts_box,
  .top_footer .footer_container .tweeter_box {
    width: 50%;
  }
  .top_footer .footer_container .contacts_box .phone {
    font-size: 18px;
  }
  .footer.footer .footer_navigation ul li {
    padding: 4px;
  }
  .footer.footer .footer_navigation ul li::before {
    display: none;
  }
}
